<h1>DEMO INTEGRACION DE CHECKOUT PLUS</h1>
<div>Prueba de Pago con Netpay</div>
<button id='netpay-checkout'
  data-button-title='Continuar'
  data-street1='Filosofos 100'
  data-country='Mexico'
  data-city='Monterrey'
  data-postal-code='64700'
  data-state='Nuevo Leon'
  data-token='tokenAmount_hIFFpuUAlvAFxWsvOGFfSFFvX'
  data-phone-number='8110000000'
  data-email='accept@netpay.com.mx'
  data-merchant-reference-code='77777777'
  data-onsuccess='onPaymentSuccess'
  data-onerror='onPaymentError'
  data-product-count='2'
  data-commerce-name='Netpay Sandbox'>Pagar
</button>
